<!DOCTYPE html>
<html>
<head>
<title>Mooroodool A Ecommerce Category Flat Bootstarp Responsive Website Template | Account :: w3layouts</title>
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all" />  
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mooroodool Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" src="/static/js/move-top.js"></script>
<script type="text/javascript" src="/static/js/easing.js"></script>
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $(".scroll").click(function(event){     
                            event.preventDefault();
                            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
                        });
                    });
                    </script>


                    <link rel="stylesheet" href="/static/css/etalage.css">

        <script src="/static/js/jquery.etalage.min.js"></script>
<script>
            jQuery(document).ready(function($){

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,
                    source_image_width: 800,
                    source_image_height: 1000,
                    show_hint: true,
                    click_callback: function(image_anchor, instance_id){
                        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                    }
                });

            });
        </script>



</head>
<body>
    <!--header-->
    <div class="header">
        <div class="container">
        <!---->
                <div class="logo">
                <a href="{{url_for('index')}}"><img src="/static/images/logo.png" alt="" ></a>
                </div>
                <div class="header-right">
                    <ul class="account">
                        <li ><a href="account.html">MY ACCOUNT</a> </li> |
                        <li><a href="{{url_for('checkout')}}" > CHECKOUT </a></li>|
                        <li>{% if current_user.is_anonymous %}
                            <a href="{{ url_for('login') }}">LOGIN</a>
                            {% else %}
                            <a href="{{ url_for('logout') }}">LOGOUT</a>
                            {% endif %}
                        </li>|
                        <li><a href="{{ url_for('register') }}"> REGISTER </a></li>
                    </ul>
            <div class="header-bottom">
                <div class="top-nav">
                    <span class="menu"> </span>
                    <ul>
                        <li class="active"><a href="{{url_for('index')}}">HOME</a> </li>
                        <li><a href="{{ url_for('product',page=1) }}" > PRODUCTS</a></li>
                        <li><a href="{{ url_for('error_404') }}" >  BLOGS  </a></li>
                        <li><a href="{{url_for('contact')}}">CONTACT </a></li>
                    </ul>
                    <!--script-->
                <script>
                    $("span.menu").click(function(){
                        $(".top-nav ul").slideToggle(500, function(){
                        });
                    });
            </script>               
        </div>
        <a href="#" class="cart">CART     IDR 0.00 </a>
        <div class="clearfix"> </div>
        </div>
        </div>
        <div class="clearfix"> </div>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="grid-top-in">
                <div class="grid-top">
                    <div class="col-md-4 top-grid">
                        <h5>ABOUT MOOROODOOL INC.</h5>
                        <p class="sed">Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    </div>
                    <div class="col-md-4 top-grid">
                        <h5>RETAIL AND WORKSHOP</h5>
                            <div class="house">
                                <i class="in-house"> </i>
                                <div class="add">
                                <p>Somewherearoundhere Street no 69</p>
                                    <p>Town, City</p>
                                    <p>Country</p>
                                    <p>12345</p>
                                </div>
                            <div class="clearfix"> </div>
                            </div>
                            <div class="house">
                                <i class="in-house in-on"> </i>
                                <div class="add">
                                    <p>+6281312015169</p>
                                </div>
                            <div class="clearfix"> </div>
                            </div>
                    </div>
                    <div class="col-md-4 top-grid">
                        <h5>GET SOCIAL WITH US!</h5>
                            <ul class="social-in">
                                <li><a href="#"><i> </i></a></li>                       
                                <li><a href="#"><i class="thumblr"> </i></a></li>
                                <li><a href="#"><i class="pin"> </i></a></li>
                                
                            </ul>
                            <ul class="social-in">
                                <li><a href="#"><i class="twitter"> </i></a></li>
                                <li><a href="#"><i class="dot"> </i></a></li>
                            </ul>
                            <div class="clearfix"> </div>
                </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
            <div class="footer">
                <div class="container">
                     <p class="footer-grid">Copyright &copy; 2019 Mooroodool Template by  <a href="github.com/itsuprun" target="_blank">ITsuprun</a> </p>
                    
                </div>  
                 <script type="text/javascript">
                        $(document).ready(function() {
                            /*
                            var defaults = {
                                containerID: 'toTop', // fading element id
                                containerHoverID: 'toTopHover', // fading element hover id
                                scrollSpeed: 1200,
                                easingType: 'linear' 
                            };
                            */
                            
                            $().UItoTop({ easingType: 'easeOutQuart' });
                            
                        });
                    </script>
                <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

            </div>
            
</body>
</html>