{% extends "base.html" %}

{% block content %}
	<div class="container">
	<!--banner-->
	<a href="single.html" class="ban"><div class="banner ">	
		  <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="/static/images/sh.png" alt="" >
						 </div>
						   <div class="month">
							<h4>check out our most favorited & 
bestselling product for this month!!</h4>
							<div class="month-grid">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="banner-btns">
									<span class="detail" href="#">Detail</span>
									<span class="buy" href="#">Buy Product</span>
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			<article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="/static/images/sh.png" alt="" >
						 </div>
						   <div class="month">
							<h4>check out our most favorited & 
bestselling product for this month!!</h4>
							<div class="month-grid">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="banner-btns">
									<span  >Detail</span>
									<span class="buy">Buy Product</span>
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			<article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="/static/images/sh1.png" alt="" >
						 </div>
						   <div class="month">
							<h4>check out our most favorited & 
bestselling product for this month!!</h4>
							<div class="month-grid">
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="banner-btns">
									<span href="#">Detail</span>
									<span class="buy" >Buy Product</span>
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			</div>
		</div>
		<!---->
		  <script src="/static/js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider({
					 pagination : false,
				});         
   		     </script> 	
		
		</div>   </a>
	</div>
	</div>
	<!---->
	<div class="content">	
		<div class="container">
			<div class="content-top">
				<h5 class="welcome">WELCOME TO MOOROODOOL</h5>
				<div class="search">
					<form>
						<input type="text" value="type your search here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>	
			<!---->
			<div class="content-middle">
				<div class="middle-content">
					<div class="middle">
						<h3>NEW YEAR’S SALE</h3>
						<p>discount up to <b>70%</b> for<span>our old products</span></p>
						<p class="from">from january 1st 2014 to march 30th 2014</p>
					</div>
						<a href="single.html" class="get">GET THEM HERE!!!</a>
				</div>
					<div class="clearfix"> </div>
			</div>
				<!---->
				<div class="content-bottom">
					<div class="col-md-4 bottom-content">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi.jpg" alt="" >
							<p class="tun">TUNDA BESOK</p>
							<p class="best">BEST <span>SELLER</span></p>
							<p class="number">IDR<span>125.000</span></p>
							<div class="pro-grid">
								<p>LOOKS VS PERSONALITY</p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="col-md-4 bottom-content act">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi1.jpg" alt="" >
						<p class="tun">LOOKS VS PERSONALITY</p>
						<p class="number">IDR<span>125.000</span></p>
						<div class="pro-grid">
								<p>LOOKS VS <span>PERSONALITY</span></p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="col-md-4 bottom-content ten">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi2.jpg" alt="" >
						<p class="tun">WHERE AM I?</p>
						<p class="number">IDR<span>125.000</span></p>
						<div class="pro-grid">
								<p>LOOKS VS PERSONALITY</p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="clearfix"> </div>
				</div>
{% endblock %}