{% extends "base.html" %}

{% block content %}
	<div class="container">
	<!--banner-->
	<div class="banner ">	
		  <div class="wmuSlider example1">
			   <div class="wmuSliderWrapper">
			 {% for photo in bestSellerPhotos %}
			 <article style="position: absolute; width: 100%; opacity: 0;"> 
				   	<div class="banner-wrap">	
						<div class="short" >
							<img class="img-responsive" src="/static/{{photo.photo_link}}" alt="" >
						 </div>
						   <div class="month">
							<h4>check out our most favorited & 
bestselling product for this month!!</h4>
							<div class="month-grid">
								<h4>{{ photo. photo.name }}</h4>
								<p>{{ photo.photo.description[0:50] }}...</p>
								<div class="banner-btns">
									<a href="{{ url_for('single', productName = photo.photo.name) }}" class="ban">
									<span class="detail" href="{{ url_for('single', productName = photo.photo.name) }}">Detail</span>
									</a>
									<a href="{{url_for('checkout', orderedProductId = photo.photo.id)}}" class="ban">
									<span class="buy" href="#">Buy Product</span>
									</a>
								</div>
							</div>
						   </div>
				   		 <div class="clearfix"> </div>
				   	 </div>
			</article>
			{% endfor %}
			</div>
		</div>
		<!---->
		  <script src="/static/js/jquery.wmuSlider.js"></script> 
			  <script>
       			$('.example1').wmuSlider({
					 pagination : false,
				});         
   		     </script> 	
		
		</div>   
	</div>
	</div>
	<!---->
	<div class="content">	
		<div class="container">
			<div class="content-top">
				<h5 class="welcome">WELCOME TO MOOROODOOL</h5>
				<div class="search">
					<form action="" method="post">
						{{ form.hidden_tag() }}
						{{ form.search(size=32, value = 'type your search here...', onfocus="this.value = '';", onblur="if (this.value == '') {this.value = '';}" ) }}
						{% for error in form.search.errors %}
			            <span style="color: red;">[{{ error }}]</span>
			            {% endfor %}
			            {{ form.submit() }}
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>	
			<!---->
			<div class="content-middle" style = "background:url(../static/{{ old_banner }})no-repeat 0px 0px; background-size: cover;">
				<div class="middle-content">
					<div class="middle">
						<h3>NEW YEAR’S SALE</h3>
						<p>discount up to <b>70%</b> for<span>our old products</span></p>
						<p class="from">from january 1st 2014 to march 30th 2014</p>
					</div>
						<a href="{{url_for('product', page=1, filter='old')}}" class="get">GET THEM HERE!!!</a>
				</div>
					<div class="clearfix"> </div>
			</div>
				<!---->
				<div class="content-bottom">
					<div class="col-md-4 bottom-content">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi.jpg" alt="" >
							<p class="tun">TUNDA BESOK</p>
							<p class="best">BEST <span>SELLER</span></p>
							<p class="number">IDR<span>125.000</span></p>
							<div class="pro-grid">
								<p>LOOKS VS PERSONALITY</p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="col-md-4 bottom-content act">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi1.jpg" alt="" >
						<p class="tun">LOOKS VS PERSONALITY</p>
						<p class="number">IDR<span>125.000</span></p>
						<div class="pro-grid">
								<p>LOOKS VS <span>PERSONALITY</span></p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="col-md-4 bottom-content ten">
						<a href="single.html"><img class="img-responsive" src="/static/images/pi2.jpg" alt="" >
						<p class="tun">WHERE AM I?</p>
						<p class="number">IDR<span>125.000</span></p>
						<div class="pro-grid">
								<p>LOOKS VS PERSONALITY</p>
								<b>T-shirt</b>
									<div class="pro-btns">
										<span class="detail" >Detail</span>
										<span class="buy-in" >ADD TO CART</span>
									</div>
							</div>
						</a>			
					</div>
					<div class="clearfix"> </div>
				</div>
{% endblock %}