
	{% extends "base.html" %}

{% block content %}
	<div class="content">	
		<div class="container">
			<div class="register">
			<div class="col-md-6 login-right">
			  	<h3>Registered customers</h3>
				<p>If you have an account with us, please log in.</p>
				<form action="" method="post">
				  {{ form.hidden_tag() }}
				  <div>
					<span>Email Address</span>
		            {{ form.username(size=32) }}<br>
		            {% for error in form.username.errors %}
		            <span style="color: red;">[{{ error }}]</span>
		            {% endfor %} 
				  </div>
				  <div>
					<span>Password</span>
		            {{ form.password(size=32) }}<br>
		            {% for error in form.password.errors %}
		            <span style="color: red;">[{{ error }}]</span>
            		{% endfor %} 
				  </div>
				  <a class="forgot" href="{{url_for('reset_password_request')}}">Forgot Your Password?</a>
				  <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>
			    </form>
			   </div>	
			   <div class="col-md-6 login-left">
			  	 <h3>New customers</h3>
				 <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
				 <a class="acount-btn" href="{{ url_for('register') }}">Create an Account</a>
			   </div>
			   
			   <div class="clearfix"> </div>
		</div>
				<!---->
				
{% endblock %}
