{% extends "base.html" %}

{% block content %}
	<div class="content">	
		<div class="container">
			<div class=" single">
			<div class="col-md-9 sin">
				  <div class="single_left">	 
					<div class="grid images_3_of_2">
						<ul id="etalage">
							{% for photo in photos %}
							<li>
								<img class="etalage_thumb_image" src="/static/{{photo.photo_link}}" class="img-responsive" />
								<img class="etalage_source_image" src="/static/{{photo.photo_link}}" class="img-responsive" title="" />
							</li>
							{% endfor %}
							<!--
							<li>
								<img class="etalage_thumb_image" src="/static/images/st2.jpg" class="img-responsive" />
								<img class="etalage_source_image" src="/static/images/s2.jpg" class="img-responsive" title="" />
							</li>
							<li>
								<img class="etalage_thumb_image" src="/static/images/st3.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="/static/images/s3.jpg"class="img-responsive"  />
							</li>
						    <li>
								<img class="etalage_thumb_image" src="/static/images/st4.jpg" class="img-responsive"  />
								<img class="etalage_source_image" src="/static/images/s4.jpg"class="img-responsive"  />
							</li>-->
						</ul>
						 <div class="clearfix"></div>		
				  </div>
				  <div class="desc1 span_3_of_2">
					  <div class="desc">
						<h3>{{ product.name }}</h3>
						<p>{{ product.description[0:150] }}</p>
						<h5>{{product.price}}$ <!--<a href="#">click for offer</a>--></h5>
						<div class="det_nav">
							<h4>Related {{ product.category.name }}:</h4>
							<ul>
								{% for product_photo in relativePhotos %}
								<li><a href="{{ url_for('single', productName = product_photo.photo.name) }}"><img src="/static/{{ product_photo.photo_link }}" class="img-responsive" alt=""/></a></li>
								{% endfor %}
								<!--
								<li><a href="#"><img src="/static/images/pi1.jpg" class="img-responsive" alt=""/></a></li>
								<li><a href="#"><img src="/static/images/pi2.jpg" class="img-responsive" alt=""/></a></li>
								<li><a href="#"><img src="/static/images/pi.jpg" class="img-responsive" alt=""/></a></li>
								-->						
							</ul>
						</div>
						<a href="#" class="get">BUY</a>
					</div>
				</div>
						<div class="clearfix"></div>
					</div>
					    <!----- tabs-box ---->
		<div class="sap_tabs">	
				     <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						  <ul class="resp-tabs-list">
						  	  <li class="resp-tab-item " aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
						  	  <!--
							  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Additional Information</span></li>
							  -->
							  <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Reviews</span></li>
							  <div class="clearfix"></div>
						  </ul>				  	 
							<div class="resp-tabs-container">
							    <h2 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0"><span class="resp-arrow"></span>Product Description</h2><div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
									<div class="facts">
									  <p > {{product.description}}</p>
										<!--<ul>
											<li>Research</li>
											<li>Design and Development</li>
											<li>Porting and Optimization</li>
											<li>System integration</li>
											<li>Verification, Validation and Testing</li>
											<li>Maintenance and Support</li>
										</ul>-->         
							        </div>
							    	</div>
							    	<!--
							      <h2 class="resp-accordion" role="tab" aria-controls="tab_item-1"><span class="resp-arrow"></span>Additional Information</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
									<div class="facts">									
										<p > Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections </p>
										<ul >
											<li>Multimedia Systems</li>
											<li>Digital media adapters</li>
											<li>Set top boxes for HDTV and IPTV Player applications on various Operating Systems and Hardware Platforms</li>
										</ul>
							        </div>	
								</div>			-->						
							      <h2 class="resp-accordion" role="tab" aria-controls="tab_item-2"><span class="resp-arrow"></span>Reviews</h2><div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
									 <div class="facts">
									  <p > There is many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined </p>
										<ul>
											<li>Research</li>
											<li>Design and Development</li>
											<li>Porting and Optimization</li>
											<li>System integration</li>
											<li>Verification, Validation and Testing</li>
											<li>Maintenance and Support</li>
										</ul>     
							     </div>	
							 </div>
					      </div>
					 </div>
					 <script src="/static/js/easyResponsiveTabs.js" type="text/javascript"></script>
		    <script type="text/javascript">
			    $(document).ready(function () {
			        $('#horizontalTab').easyResponsiveTabs({
			            type: 'default', //Types: default, vertical, accordion           
			            width: 'auto', //auto or any width like 600px
			            fit: true   // 100% fit in a container
			        });
			    });
			   </script>	
	</div>
			   	 </div>
			
			
		<div class="col-md-3 sin-left">
			  <div class="block">
                  <p class="block-subtitle">Shopping Options</p>
				<div class="list">
                 <h5 >Price</h5>                   
					<ol class="price-top">
					    <li> <a href="#"><span class="price">$100.00</span> - <span class="price">$199.99</span></a> </li>
					    <li><a href="#"><span class="price">$200.00</span> - <span class="price">$299.99</span></a></li>					                    					            </li<li>
						<li> <a href="#"><span class="price">$300.00</span> and above</a> </li>
					</ol>
				</div>	
			<div class="list">
                 <h5 >Models</h5>                   
					<ol class="price-top">
					    <li> <a href="#"><span class="price">handful</span> </a> </li>
					    <li><a href="#"><span class="price">literature</span></a></li>					                    					            </li<li>
						<li> <a href="#"><span class="price"> perspiciatis</span> </a> </li>
					    <li><a href="#"><span class="price">voluptatem</span></a></li>	
						<li> <a href="#"><span class="price">laudantium</span> </a> </li>
					    <li><a href="#"><span class="price"> aperiam</span></a></li>	
						<li> <a href="#"><span class="price"> consequatur</span> </a> </li>
					    <li><a href="#"><span class="price">pleasure</span></a></li>	
					</ol>
				</div>					
			  <div class="tags">
				    	<h4 class="tag_head">Popular cakes</h4>
				         <ul class="tags_links">
							<li><a href="#">Lorem Ipsum</a></li>
							<li><a href="#"> typesetting industry</a></li>
							<li><a href="#">dummy text </a></li>
							<li><a href="#">Renaissance</a></li>
							<li><a href="#">literature</a></li>
							<li><a href="#">random text</a></li>
							<li><a href="#">passages</a></li>
							<li><a href="#">handful</a></li>					
						</ul>
						<a href="#" class="link1">View all tags</a>
				 </div>
			</div>
		</div>	

		
				<div class="clearfix"></div>	
	</div>

{% endblock %}